<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <title>{% block title %}Главная{% endblock %} - ATLAS</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description" content="">
    <meta name="keywords" content="ATLAS, PREDICTIVE ANALYTICS SYSTEMS">
    <meta name="author" content="Roman Pokrovsky, t.me/novel_sk">

    <link rel="icon" href="{% static 'icon/32x32.jpg' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'assets/fonts/feather.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/material.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" id="main-style-link">
    {% block stylesheet %}
    {% endblock %}
</head>
<body>
<!-- [ Pre-loader ] start -->
<div class="loader-bg">
    <div class="loader-track">
        <div class="loader-fill"></div>
    </div>
</div>
<!-- [ Pre-loader ] End -->
<!-- [ Mobile header ] start -->
<div class="pc-mob-header pc-header">
    <div class="pcm-logo">
        <img src="{% static 'icon/Atl.png' %}" alt="" class="logo logo-lg">
    </div>
    <div class="pcm-toolbar">
        <a class="pc-head-link" id="mobile-collapse">
            <div class="hamburger hamburger--arrowturn">
                <div class="hamburger-box">
                    <div class="hamburger-inner"></div>
                </div>
            </div>
        </a>
        <a class="pc-head-link" id="header-collapse">
            <i data-feather="more-vertical"></i>
        </a>
    </div>
</div>
<!-- [ Mobile header ] End -->

<!-- [ navigation menu ] start -->
<nav class="pc-sidebar ">
    <div class="navbar-wrapper">
        <div class="m-header">
            <a href="{% url 'atlas:new:index' %}" class="b-brand">
                <!-- ========   change your logo hear   ============ -->
                <img src="{% static 'icon/Atl.png' %}" alt="" class="logo logo-lg">
                <img src="{% static 'icon/Atl.png' %}" alt="" class="logo logo-sm">
            </a>
        </div>
        <div class="navbar-content">
            <ul class="pc-navbar">
                <li class="pc-item pc-caption">
                    <label>Меню</label>
                </li>
                <li class="pc-item">
                    <a href="{% url 'atlas:new:index' %}" class="pc-link">
                        <span class="pc-micon"><i class="material-icons-two-tone">dashboard</i></span>
                        <span class="pc-mtext">Домашняя</span>
                    </a>
                </li>
                <li class="pc-item pc-hasmenu">
                    <a class="pc-link "><span class="pc-micon"><i data-feather="user"></i></span>
                        <span class="pc-mtext">Аккаунт</span>
                        <span class="pc-arrow"><i data-feather="chevron-right"></i></span>
                    </a>
                    <ul class="pc-submenu" style="">
                        <a href="{% url 'atlas:account' %}" class="pc-link">
                            <span class="pc-micon"><i class="material-icons-two-tone">view_headline</i></span>
                            <span class="pc-mtext">Информацмя</span>
                        </a>
                        <a href="{% url 'atlas:logout' %}" class="pc-link">
                            <span class="pc-micon"><i data-feather="log-out"></i></span>
                            <span class="pc-mtext">Выйти</span>
                        </a>
                    </ul>
                </li>
                {% if user.is_staff %}
                    <li class="pc-item pc-hasmenu">
                        <a class="pc-link">
                            <span class="pc-micon"><i class="material-icons-two-tone">admin_panel_settings</i></span>
                            <span class="pc-mtext">Администрирование</span>
                            <span class="pc-arrow"><i data-feather="chevron-right"></i></span>
                        </a>
                        <ul class="pc-submenu" style="">
                            <a href="{% url 'atlas:create_user' %}" class="pc-link">
                                <span class="pc-micon"><i class="material-icons-two-tone">person_add</i></span>
                                <span class="pc-mtext">Создать пользователя</span>
                            </a>
                        </ul>
                    </li>
                {% endif %}
                {% regroup base_object_list by id_company as company_objects %}
                {% for company, objects_list in company_objects %}
                    <li class="pc-item pc-caption">
                        <label>{{ company.name }}</label>
                    </li>
                    {% for object in objects_list %}
                        <li class="pc-item pc-hasmenu">
                            <a class="pc-link">
                                <span class="pc-mtext">{{ object }}</span>
                                {% if object.notification_count %}
                                    <span class="badge bg-secondary">{{ object.notification_count }}</span>
                                {% endif %}
                                <span class="pc-arrow"><i data-feather="chevron-right"></i></span>
                            </a>
                            {% for sensor in object.sensor_object.all %}
                                <ul class="pc-submenu">
                                    <li class="pc-item">
                                        <a class="pc-link"
                                           href="{% url 'atlas:new:sensor_trend' %}?sensor_id={{ sensor.id }}">
                                            {{ sensor.name }}
                                            {% if sensor.count_alerts %}
                                                <span class="badge bg-secondary">{{ sensor.count_alerts }}</span>
                                            {% endif %}
                                        </a>
                                    </li>
                                </ul>
                            {% endfor %}
                        </li>
                    {% endfor %}
                    <hr>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>
<!-- [ navigation menu ] end -->
<!-- [ Header ] start -->
<header class="pc-header ">
    <div class="header-wrapper">
        <div class="mr-auto">
            {% block navbar_left %}
            <ul class="list-unstyled">
                <li class="pc-h-item"></li>
            </ul>
            {% endblock %}
        </div>
        <div class="ml-auto">
            <ul class="list-unstyled">
                {% if alerts_count != 0 %}
                    <li class="dropdown pc-h-item">
                        <a class="pc-head-link dropdown-toggle arrow-none mr-0" data-toggle="dropdown">
                            <i data-feather="bell"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right pc-h-dropdown">
                            {% for alert in alerts %}
                                <a href="{{ alert.href }}" class="dropdown-item">
                                    <div class="alert {{ alert.style }}">
                                        <h5 class="alert-heading">{{ alert.head }}</h5>
                                        <p>{{ alert.body }}</p>
                                        <p>{{ alert.after }}</p>
                                    </div>
                                </a>
                            {% endfor %}
                        </div>
                    </li>
                {% endif %}
                {% if user.is_authenticated %}
                    <li class="dropdown pc-h-item">
                        <a class="pc-head-link dropdown-toggle arrow-none mr-0" data-toggle="dropdown" role="button"
                           aria-haspopup="false" aria-expanded="false">
                            {{ user.initials }}
                        </a>
                        <div class="dropdown-menu dropdown-menu-right pc-h-dropdown">
                            <a href="{% url 'atlas:account' %}" class="dropdown-item">
                                <i data-feather="user"></i>
                                <span>Аккаунт</span>
                            </a>
                            <a href="{% url 'atlas:logout' %}" class="dropdown-item">
                                <i data-feather="log-out"></i>
                                <span>Выйти</span>
                            </a>
                        </div>
                    </li>
                {% else %}
                    <button type="button" onclick="window.location.href = '{% url 'atlas:login' %}';"
                            class="btn btn-primary">Войти
                    </button>
                {% endif %}
            </ul>
        </div>
    </div>
</header>
<!-- [ Header ] end -->

{% block content %}{% endblock %}

<script src="{% static 'assets/js/vendor-all.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/feather.min.js' %}"></script>
<script src="{% static 'assets/js/pcoded.min.js' %}"></script>
{% block base_script %}
{% endblock %}
</body>
</html>
