{% extends 'new/base.html' %}
{% load static %}
{% block title %}base_form{% endblock %}


{% block content %}
<!-- [ Main Content ] start -->
<div class="pc-container">
    <div class="pcoded-content">
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        {% block breadcump %}{% endblock %}
                    </div>
                    <div class="col-md-6">
                        {% block navbar %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
		<!-- [ Main Content ] start -->
        <div class="row">
            <div class="col-lg-6">
                <div class="card align-items-center align-self-center">
                    <div class="card-body col-md-10">
                        <form method="post" {% block enctype %}{% endblock %}>
                            {% csrf_token %}
                            {% for field in form %}
                                {% if field.is_hidden %}
                                    {{ field }}
                                {% else %}
                                <div class="input-group mb-2">
                                    <div class="col-form-label col-sm-5 pt-0">{{ field.label }}</div>
                                    <div class="col">{{ field }}
                                    {% if field.errors %}
                                        {% for error in field.errors %}
                                            <p class="alert alert-success" role="alert">{{ error }}</p>
                                        {% endfor %}
                                    {% endif %}
                                    </div>
                                </div>
                                {% endif %}
                            {% endfor %}
                            {% if success %}
                                <p class="alert alert-success" role="alert">Данные успешно обновленны</p>
                            {% elif form.non_field_errors %}
                                {% for error in form.non_field_errors %}
                                    <p class="alert alert-success" role="alert">{{ error }}</p>
                                {% endfor %}
                            {% endif %}
                            <p class="float-md-right"><input type="submit" value="Сохранить" class="btn btn-primary"></p>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                {% block near_form %}{% endblock %}
            </div>
        </div>
        {% block body %}{% endblock %}
		<!-- [ Main Content ] end -->
	</div>
</div>

{% endblock %}
{% block base_script %}
    <script src="{% static 'main/new_main.js' %}"></script>
    {% block script %}{% endblock %}
{% endblock %}
