{% extends 'new/base.html' %}
{% load static %}
{% block title %}{{ sensor.name }}{% endblock %}

{% block navbar_left %}
    <ul class="list-unstyled">
        <li class="pc-h-item"><h4>{{ sensor.name }}</h4></li>
    </ul>
{% endblock %}


{% block content %}
<!-- [ Main Content ] start -->
<div class="pc-container">
    <div class="pcoded-content">
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        {% block breadcump %}
                            <div class="page-header-title">
                                <h5 class="m-b-10">Страница датчика</h5>
                            </div>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url 'atlas:new:index' %}">Главная</a></li>
                                <li class="breadcrumb-item"><a href="{% url 'atlas:new:company'%}?company_id={{ sensor.id_object.id_company.id }}">{{ sensor.id_object.id_company }}</a></li>
                                <li class="breadcrumb-item"><a href="{% url 'atlas:new:object_trend' %}?object_id={{ sensor.id_object.id }}">{{ sensor.id_object.name }}</a></li>
                                <li class="breadcrumb-item">{{ sensor.name }}</li>
                            </ul>
                        {% endblock %}
                    </div>
                    <div class="col-md-6">
                        {% block navbar %}
                            {% include 'new/sensor_navbar.html' %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
		<!-- [ Main Content ] start -->
        <div class="row">
            <div class="{% block col_md %}col-md-12{% endblock %}">
                <div class="card">
                <div class="card-body">
                    {% block card %}{% endblock %}
                </div>
            </div>
            </div>
        </div>
		<!-- [ Main Content ] end -->
	</div>
</div>

{% endblock %}
{% block base_script %}
    <script src="{% static 'main/navbar.js' %}"></script>
    {% block script %}{% endblock %}
{% endblock %}
