{% extends 'new/base.html' %}
{% load static %}
{% block title %}{{ object.name }}{% endblock %}

{% block navbar_left %}
    <ul class="list-unstyled">
        <li class="pc-h-item"><h4>{{ object.name }}</h4></li>
    </ul>
{% endblock %}


{% block content %}
<!-- [ Main Content ] start -->
<div class="pc-container">
    <div class="pcoded-content">
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        {% block navbar %}
                            {% include 'new/navbar.html' %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
		<!-- [ Main Content ] start -->
        <div class="row">
            <div class="{% block col_md %}col-md-12{% endblock %}">
                <div class="card">
                <div class="card-body">
                    {% block card %}{% endblock %}
                </div>
            </div>
            </div>
        </div>
		<!-- [ Main Content ] end -->
	</div>
</div>

{% endblock %}
{% block base_script %}
    <script src="{% static 'main/navbar.js' %}"></script>
    {% block script %}{% endblock %}
{% endblock %}
