{% extends 'new/base_object.html' %}
{% load static %}
{% block title %}Главная{% endblock %}

{% block breadcump %}
    <div class="page-header-title">
        <h5 class="m-b-10">Домашняя</h5>
    </div>
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'atlas:new:index' %}">Главная</a></li>
        <li class="breadcrumb-item">{{ company.name }}</li>
    </ul>
{% endblock %}
{% block navbar %}{% endblock %}


{% block card %}
    {% if objects_count == 0 %}
        <h5>У вас нет доступа ни к одной компании</h5>
        <div class="clearfix"></div>
        <h6>Обратитесь к администратору</h6>
    {% else %}
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th class="text-center">Состояние</th>
                    <th class="text-center">Объект</th>
                    <th class="text-center">Кол-во датчиков</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for object in objects_list %}
                    <tr onclick="window.location.replace('{% url 'atlas:new:object_trend' %}?object_id={{ object.id }}');">
                        <td class="text-center">
                            {% if object.count_sensors_alerts %}
                                <p class="text-danger mb-1"><i data-feather="alert-circle"></i></p>
                            {% else %}
                                <p class="text-success mb-1"><i data-feather="check"></i></p>
                            {% endif %}
                        </td>
                        <td class="text-center">{{ object.name }}</td>
                        <td class="text-center">{{ object.sensor_object.count }}</td>
                        <td><a href="{% url 'atlas:new:object_settings'%}?object_id={{ object.id }}" style="color: black"><i
                                data-feather="settings"></i></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}
