{% extends 'new/base_object.html' %}
{% load static %}
{% block title %}{{ object.name }} - Мнемосхема{% endblock %}


{% block card %}
    <div class="row">
        {% for sensor in sensors_list %}
            <h6>{{ sensor.name }}: {{ sensor.data_sensor.last.ai_mean }}</h6>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-md-12">
            {% if object.image.name != '' %}
                <div id="scheme-grid"
                     style="background: url({{ object.image.url }}); background-size: 100% 100%;"></div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'main/object_scheme.js' %}"></script>
{% endblock %}
