{% extends 'new/base_object.html' %}
{% load static %}
{% block title %}{{ object.name }} - Журнал{% endblock %}


{% block card %}
    <div class="row">
        <div class="col-sm-4">
            <div class="card align-items-center bg-light-primary">
                <h5 class="card-header">Новая запись</h5>
                <div class="card-body">
                    <a href="{% url 'atlas:new:object_events_new' %}?object_id={{ object.id }}"
                       class="btn btn-outline-primary">Создать</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        {% for event in events_list %}
            <div class="col-md-6 col-xl-4">
                <div class="card text-dark {% if event.not_done %}bg-light-warning{% endif %}
                                 {% if event.status == 'c' %}bg-light-success{% endif %}
                                 {% if event.status == 'w' and not event.not_done%}bg-light-primary{% endif %}">
                    <div class="card-header">{{ event }}</div>
                    <div class="card-body">
                        <p class="card-text">Дата создания<br>{{ event.date_of_creation }}</p>
                        {% if event.status == 'c' %}
                            <p class="card-text">Выполненно<br>{{ event.date_of_service_completed }}</p>
                            <p class="card-text">Коментарий<br>{{ event.comment }}</p>
                        {% elif event.status == 'p' %}
                            <p class="card-text">Дата запланированных
                                работ<br>{{ event.date_of_service_planned }}
                            </p>
                            <p class="card-text">План работ<br>{{ event.plan }}</p>
                        {% elif event.status == 'w' %}
                            <p class="card-text">В работе<br>{{ event.date_of_service_planned }}</p>
                            <p class="card-text">План работ<br>{{ event.plan }}</p>
                        {% endif %}
                        <div class="row">
                            <a href="{% url 'atlas:new:object_event_edit' %}?event_id={{ event.id }}"
                               class="btn {% if event.not_done %}btn-shadow btn-outline-warning{% else %}btn-outline-success{% endif %}">Открыть</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
