<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Atlas</title>
    <link rel="stylesheet" href="{% static 'assets/fonts/feather.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/material.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
</head>
<body>
    {% block content %}
    {% endblock %}
    <script src="{% static 'assets/js/vendor-all.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/feather.min.js' %}"></script>
    <script src="{% static 'assets/js/pcoded.min.js' %}"></script>
</body>
</html>
