{% extends 'base.html' %}
{% load static %}
{% block title %}Dashboard{% endblock %}


{% block content %}
<!-- [ Main Content ] start -->
<div class="pc-container">
    <div class="pcoded-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Dashboard</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'atlas:index' %}">Home</a></li>
                            <li class="breadcrumb-item">Dashboard</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <!-- [ sample-page ] start -->
            <div class="col-sm-12">
                <div class="card">
                    <canvas id="chart" class="60" style="display: block; width: 875px; height: 369px;"></canvas>
                    <div class="card-body">
                        <div class="btn-group" id="board-buttons" role="group">
                            <button type="button" class="btn btn-secondary">60</button>
                            <button type="button" class="btn btn-secondary">240</button>
                            <button type="button" class="btn btn-secondary">600</button>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="card">
                    <div class="">
                        <div class="card">
                            <div class="card-header">
                                <h4>Датчики</h4>
                            </div>
                            <div class="card-body table-border-style">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>№</th>
                                            <th>Наименование системы</th>
                                            <th>Наименование датчика</th>
                                            <th>Статус</th>
                                        </tr>
                                    </thead>
                                    <tbody class="tableBody">
                                        <tr>
                                            <td>1</td>
                                            <td>Mark</td>
                                            <td>Otto</td>
                                            <td>@mdo</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ sample-page ] end -->
        </div>
        <!-- [ Main Content ] end -->
</div>

{% endblock %}
{% block script %}
    <script src="{% static 'chart/dist/chart.js' %}"></script>
    <script src="{% static 'chart/table.js' %}"></script>
{% endblock %}
