{% extends 'base.html' %}
{% load static %}
{% block title %}Вход{% endblock %}

{% block content %}
    <style>
        input {
            outline:none;
            border: none;
        }
    </style>
<div class="auth-wrapper">
	<div class="auth-content">
		<div class="card">
			<div class="row align-items-center text-center">
				<div class="col-md-12">
					<div class="card-body">
						{% if user.is_authenticated %}
                            <h4 class="mb-3 f-w-400">Вы уже выполнили вход.</h4>
                        {% else %}
                            <h4 class="mb-3 f-w-400">Вход</h4>
                            <form method="post">
                                {% csrf_token %}
                                <div>
                                    {% for field in form %}
                                        <div class="input-group mb-3">
                                            {% if field.name == 'username' %}
                                                <span class="input-group-text"><i data-feather="user"></i></span>
                                                <div class="form-control">{{field}}</div>
                                                {{ field.errors }}
                                            {% else %}
                                                <span class="input-group-text"><i data-feather="lock"></i></span>
                                                <div class="form-control">{{field}}</div>
                                                {{ field.errors }}
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                    {% if form.non_field_errors %}
                                        <div class="alert alert-danger">{{form.non_field_errors}}</div>
                                    {% endif %}
                                </div>
                                <input type="submit" class="btn btn-primary" value="Войти">
                            </form>
{#                            <form method="post">#}
{#                            {% csrf_token %}#}
{#                            {{ form.as_p }}#}
{#                            <input type="submit" class="btn btn-primary" value="Войти">#}
{#                            </form>#}
                        {% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
