{% extends 'base.html' %}
{% load static %}
{% block title %}Account{% endblock %}


{% block content %}
<!-- [ Main Content ] start -->
<div class="pc-container">
    <div class="pcoded-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        {% block nav %}

                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <!-- [ sample-page ] start -->
            <div class="col-lg-6">
                <div class="card align-items-center align-self-center">
                    <div class="card-header">
                        <h5>{% block form_label %}{% endblock %}</h5>
                    </div>
                    <div class="card-body col-sm-7">
                        <form method="post">
                            {% csrf_token %}
                            {% for field in form %}
                                {% if field.is_hidden %}
                                    {{ field }}
                                {% else %}
                                <div class="input-group mb-2">
                                    <label class="col-sm-4 col-form-label">{{ field.label }}</label>
                                    <div class="col-sm-8">{{ field }}</div>
                                    {% if field.errors %}
                                        {% for error in field.errors %}
                                        <p class="alert alert-success" role="alert">{{ error }}</p>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                {% endif %}
                            {% endfor %}
                            {% if success %}
                                <p class="alert alert-success" role="alert">Данные успешно обновленны</p>
                            {% elif form.non_field_errors %}
                                {% for error in form.non_field_errors %}
                                    <p class="alert alert-success" role="alert">{{ error }}</p>
                                {% endfor %}
                            {% endif %}
                            <p class="float-md-right"><input type="submit" value="Сохранить" class="btn btn-primary"></p>
                        </form>
                    </div>
                </div>
            </div>
            <!-- [ sample-page ] end -->
        </div>
        <!-- [ Main Content ] end -->
    </div>
</div>

{% endblock %}
{% block script %}
    <script src="{% static 'main/main.js' %}"></script>
{% endblock %}
