{% extends 'base.html' %}
{% load static %}
{% block title %}{{ sensor.name }}({{ object.name }}){% endblock %}


{% block content %}
<!-- [ Main Content ] start -->
<div class="pc-container">
    <div class="pcoded-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Аналитика</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'atlas:index' %}">Главная</a></li>
                            <li class="breadcrumb-item"><a href="{% url 'atlas:company' object.id_company.id %}">{{ object.id_company }}</a></li>
                            <li class="breadcrumb-item"><a href="{% url 'atlas:object' object.id %}">{{ object.name }}</a></li>
                            <li class="breadcrumb-item">{{ sensor.name }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <!-- [ sample-page ] start -->
            <div class="col-sm-12">
{#                <h5>Аналитика</h5><hr>#}
                <div class="card">
                    <div class="card-body">
                        <div class="row row justify-content-between">
                            <div class="col-md-8">
                                <div class="row row-cols-auto">
                                    <div class="col">
                                        <p class="lead">Период</p>
                                    </div>
                                    <div class="col">
                                        <div class="btn-group" id="board-buttons" role="group">
                                            <button type="button" class="btn btn-outline-primary" data-count="60">1 час</button>
                                            <button type="button" class="btn btn-outline-primary" data-count="240">4 часа</button>
                                            <button type="button" class="btn btn-outline-primary" data-count="600">10 часов</button>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="input-group" id="custom_points">
                                            <label><input type="text" class="form-control" placeholder="Кол-во точек"></label>
                                            <button class="btn btn-primary"><i class="feather icon-check"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1 text-right">
                                <a href="{% url 'atlas:settings_ml' sensor_id=sensor.id %}"
                                               class="btn btn-secondary">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                         fill="currentColor"
                                         class="bi bi-gear-fill" viewBox="0 0 16 16">
                                        <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z"/>
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <hr>
                        <canvas id="chart" data-count="60" style="display: block; width: 875px; height: 369px;"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="card">
                    <div class="">
                        {% if errors == 0 %}
                        {% else %}
                        <div class="card">
                            <div class="card-header">
                                <h4>Последние инциденты</h4>
                            </div>
                            <div class="card-body table-border-style">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th>№</th>
                                            <th>Дата и время</th>
                                            <th>Режим работы системы</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for error_item in errors_list %}
                                            <tr>
                                                <td>{{ error_item.id_sensor }}</td>
                                                <td>{{ error_item.error_start_date }}</td>
                                                <td>{{ error_item.data_error.last.mode }}</td>
                                                <td><a href="" class="btn btn-outline-info">Квитировать</a></td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <!-- [ sample-page ] end -->
    </div>
        <!-- [ Main Content ] end -->
</div>

{% endblock %}
{% block script %}
    <script src="{% static 'chart/dist/chart.js' %}"></script>
    <script src="{% static 'chart/sensor_chart.js' %}"></script>
{% endblock %}
