{% extends 'base.html' %}
{% load static %}
{% block title %}Главная{% endblock %}


{% block content %}
<!-- [ Main Content ] start -->
<div class="pc-container">
    <div class="pcoded-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Домашняя</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'atlas:index' %}">Главная</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <!-- [ sample-page ] start -->
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                    {% if objects_count == 0 %}
                        <h5>У вас нет доступа ни к одной компании</h5>
                        <div class="clearfix"></div>
                        <h6>Обратитесь к администратору</h6>
                    {% else %}
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>Состояние</th>
                                    <th>Компания</th>
                                    <th>Объект</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for object in base_object_list %}
                                    <tr>
                                        <td>
                                            {% if object.count_sensors_alerts %}
                                                <p class="text-danger mb-1"><i data-feather="alert-circle"></i></p>
                                            {% else %}
                                                <p class="text-success mb-1"><i data-feather="check"></i></p>
                                            {% endif %}
                                        </td>
                                        <td>{{ object.id_company }}</td>
                                        <td><a href="{% url 'atlas:object' object.id %}" class="btn btn-link">{{ object.name }}</a></td>
                                        <td><a href="{% url 'atlas:object_settings' object.id %}" style="color: grey"><i data-feather="settings"></i></a></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endif %}
                    </div>
                </div>
            </div>
            <!-- [ sample-page ] end -->
        </div>
        <!-- [ Main Content ] end -->
    </div>
</div>
{% endblock %}
