{% extends 'base_form.html' %}
{% load static %}


{% block title %}Настройки ML{% endblock %}
{% block nav %}
    <div class="page-header-title">
        <h5 class="m-b-10">Machine learning</h5>
    </div>
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'atlas:index' %}">Главная</a></li>
        <li class="breadcrumb-item"><a href="{% url 'atlas:company' sensor.id_object.id_company.id %}">{{ sensor.id_object.id_company }}</a></li>
        <li class="breadcrumb-item"><a href="{% url 'atlas:object' sensor.id_object.id %}">{{ sensor.id_object }}</a></li>
        <li class="breadcrumb-item"><a href="{% url 'atlas:sensor' sensor.id_object.id sensor.id %}">{{ sensor.name }}</a></li>
        <li class="breadcrumb-item">Настройки</li>
    </ul>
{% endblock %}
{% block form_label %}Настройки{% endblock %}
