{% extends 'base.html' %}
{% load static %}
{% block title %}{{ object.name }}{% endblock %}


{% block content %}
<!-- [ Main Content ] start -->
<div class="pc-container">
	<div class="pcoded-content">
    <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Аналитика</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'atlas:index' %}">Главная</a></li>
                            <li class="breadcrumb-item"><a href="{% url 'atlas:company' object.id_company.id %}">{{ object.id_company }}</a></li>
                            <li class="breadcrumb-item">{{ object.name }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

		<!-- [ Main Content ] start -->

		<div class="row">
			<!-- [ card ] start -->
        <h5>Показатели датчиков</h5><hr>
        <div class="card">
            <div class="card-body">
                <div class="row justify-content-between">
                    <div class="col-md-8">
                        <div class="row row-cols-auto">
                            <div class="col">
                                <button type="button" class="btn btn-outline-primary disabled"><i data-feather="clock"></i></button>
                            </div>
                            <div class="col">
                                <div class="btn-group" id="board-buttons" role="group">
                                    <button type="button" class="btn btn-outline-primary" data-count="60">1 час</button>
                                    <button type="button" class="btn btn-outline-primary" data-count="240">4 часа
                                    </button>
                                    <button type="button" class="btn btn-outline-primary" data-count="600">10 часов
                                    </button>
                                </div>
                            </div>
                            <div class="col">
                                <div class="input-group" id="custom_points">
                                    <label><input type="text" class="form-control" placeholder="Кол-во точек"></label>
                                    <button class="btn btn-primary"><i class="feather icon-check"></i></button>
                                </div>
                            </div>
                            <div class="col" id="change-type">
                                <button type="button" class="btn btn-outline-primary chart-control"><i data-feather="more-horizontal"></i></button>
                                <button type="button" class="btn btn-outline-primary chart-control"><i data-feather="trending-up"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1 text-right">
                        <a href="{% url 'atlas:object_settings' object.id %}" class="btn btn-primary"><i data-feather="settings"></i></a>
                    </div>
                </div>
                <hr>
                <canvas class="chart-control" data-count="60" style="display: block; width: 875px; height: 369px;"></canvas>
                <div id='chart-hide' class="col-md-6">
                    <canvas class="chart-control" style="display: block; width: 369px; height: 369px;"></canvas>
                </div>
            </div>
        </div>
        <h5>Датчики</h5><hr>
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>№</th>
                                <th>Название</th>
                                <th>Настройки ML</th>
                                <th>ST ML</th>
                                <th>Последняя запись</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for sensor in sensors_list %}
                                <tr>
                                    <td>{{ sensor.id_sensor_repr }}</td>
                                    <td><a href="{% url 'atlas:sensor' object_id=object.id sensor_id=sensor.id %}" class="btn btn-link">{{ sensor.name }}</a></td>
                                    <td>
                                        <div class="col">
                                            {% if sensor.event_sensor.first.setting_ll != 0 and sensor.event_sensor.first.setting_ll is not null %}
                                                <span class="text-success mb-1">LL</span>{% else %}<span class="text-muted mb-1">LL</span>{% endif %}
                                            {% if sensor.event_sensor.first.setting_l != 0 and sensor.event_sensor.first.setting_l is not null  %}
                                                <span class="text-success mb-1">L</span>{% else %}<span class="text-muted mb-1">L</span>{% endif %}
                                            {% if sensor.event_sensor.first.setting_h != 0 and sensor.event_sensor.first.setting_h is not null  %}
                                                <span class="text-success mb-1">H</span>{% else %}<span class="text-muted mb-1">H</span>{% endif %}
                                            {% if sensor.event_sensor.first.setting_hh != 0 and sensor.event_sensor.first.setting_hh is not null  %}
                                                <span class="text-success mb-1">HH</span>{% else %}<span class="text-muted mb-1">HH</span>{% endif %}
                                        </div>
                                    </td>
                                    <td>
                                        <div class="col">
                                            {% if sensor.data_sensor.last.stat_min != sensor.data_sensor.last.stat_max %}
                                                <span class="text-success mb-1">ST</span>{% else %}<span class="text-danger mb-1">ST</span>{% endif %}
                                            {% if sensor.data_sensor.last.ml_min != sensor.data_sensor.last.ml_max %}
                                                <span class="text-success mb-1">ML</span>{% else %}<span class="text-danger mb-1">ML</span>{% endif %}
                                        </div>
                                    </td>
                                    <td>{{ sensor.data_sensor.last.date }}</td>
                                    <td><a href="{% url 'atlas:settings_sensor' sensor_id=sensor.id %}" class="btn btn-primary"><i data-feather="settings"></i></a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        <h5>Последние инциденты</h5><hr>
            <div class="col-sm-12">
{#                {% if errors == 0 %}#}
{#                    <div class="card">#}
{#                        <div class="card-body">#}
{#                            <h4>Ошибок нет</h4>#}
{#                        </div>#}
{#                    </div>#}
{#                {% else %}#}
                    <div class="card">
                        <div class="card-header">
                            <div class="btn-group" role="group">
                                <a href="{% url 'atlas:events' object.id %}" type="button"
                                   class="btn btn-outline-primary">Журнал ТОиР
                                    {% if object.count_event_not_done != 0 %}
                                        <span class="badge bg-primary">{{ object.count_event_not_done }}</span>
                                    {% endif %}
                                </a>
                                <a href="{% url 'atlas:event_new' object.id %}"
                                   class="btn btn-outline-primary">+</a>
                            </div>
                            <a href="{% url 'atlas:archive_object' object.id %}" type="button"
                               class="btn btn-outline-primary">Архив ошибок</a>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>Датичик</th>
                                        <th>Ошибка</th>
                                        <th>Значение</th>
                                        <th>Дата - Время</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for error_item in errors_list %}
                                        <tr>
                                            <td>{{ error_item.id_sensor }}</td>
                                            <td>{{ error_item.error }}</td>
                                            <td>{{ error_item.data_error.last.ai_mean }}</td>
                                            <td>{{ error_item.error_start_date }}</td>
                                            <td>
                                                <button onclick="confirm_error({{ error_item.id }}, this)"
                                                        class="btn btn-outline-primary">
                                                    <i data-feather="check-circle"></i></button>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
{#                {% endif %}#}
            </div>
        <h5>Мнемосхема</h5><hr>
            <div class="card">
                <div class="card-header">
                    {% for sensor in sensors_list %}
                        <h6>{{ sensor.name }}: {{ sensor.data_sensor.last.ai_mean }}</h6>
                    {% endfor %}
                </div>
                <div class="card-body">
                    <div class="col-md-4">
                        {% if object.image.name != '' %}
                            <img class="img-fluid card-img-bottom" src="{{ object.image.url }}" alt="">
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
		<!-- [ Main Content ] end -->
	</div>
</div>

{% endblock %}
{% block script %}
    <script src="{% static 'main/main.js' %}"></script>
    <script src="{% static 'chart/dist/chart.js' %}"></script>
    <script src="{% static 'chart/object_chart.js' %}"></script>
{% endblock %}
