{% extends 'base_form.html' %}
{% load static %}
{% block title %}Настройки объекта{% endblock %}
{% block nav %}
    <div class="page-header-title">
        <h5 class="m-b-10">Объект</h5>
    </div>
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'atlas:index' %}">Главная</a></li>
        <li class="breadcrumb-item"><a href="{% url 'atlas:company' object.id_company.id %}">{{ object.id_company }}</a></li>
        <li class="breadcrumb-item"><a href="{% url 'atlas:object' object.id %}">{{ object }}</a></li>
        <li class="breadcrumb-item">Настройки</li>
    </ul>
{% endblock %}
{% block form_label %}Настройки{% endblock %}
{% block enctype %}enctype="multipart/form-data"{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label class="form-label" for="inputState">Режим рабоыт системы</label>
                            <select id="inputState" class="form-control">
                                <option selected="">Пользовательский</option>
                                <option>Показатели</option>
                                <option>Технологиский процесс</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="exampleFormControlTextarea1">Диагностические правила</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                        <div class="text-right">
                            <button type="submit" class="btn btn-outline-primary">+</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
