{% extends 'base.html' %}
{% load static %}
{% block title %}{{ object.name }}{% endblock %}


{% block content %}
<!-- [ Main Content ] start -->
<div class="pc-container">
    <div class="pcoded-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Архив ошибок</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'atlas:index' %}">Главная</a></li>
                            <li class="breadcrumb-item"><a href="{% url 'atlas:company' object.id_company.id %}">{{ object.id_company }}</a></li>
                            <li class="breadcrumb-item"><a href="{% url 'atlas:object' object.id %}">{{ object }}</a></li>
                            <li class="breadcrumb-item">Архив ошибок</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <!-- [ sample-page ] start -->
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link" onclick="window.location.replace('{% url 'atlas:object' object.id %}');" aria-current="page">Тренд</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link">Аналитика</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active">Арив событий</a>
                            </li>
                            <li class="nav-item">
                                <a onclick="window.location.replace('{% url 'atlas:events' object.id %}');" class="nav-link">ТОиР</a>
                            </li>
                            <li class="nav-item">
                                <a onclick="window.location.replace('{% url 'atlas:object_settings' object.id %}');" class="nav-link">Настройки</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link">Мнемосхема</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body table-border-style">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>№ ошибки</th>
                                    <th>Значение</th>
                                    <th>Дата и время</th>
                                    <th>Режим работы системы</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for error_item in errors_list %}
                                    <tr>
                                        <td>{{ error_item.error }}</td>
                                        <td>{{ error_item.data_error.last.ai_mean }}</td>
                                        <td>{{ error_item.error_start_date }}</td>
                                        <td>{{ error_item.data_error.last.mode }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ sample-page ] end -->
    </div>
        <!-- [ Main Content ] end -->
</div>

{% endblock %}
{% block script %}
    <script src="{% static 'main/main.js' %}"></script>
{% endblock %}
