{% extends 'base_form.html' %}
{% load static %}


{% block title %}Настройки ML{% endblock %}
{% block nav %}
    <div class="page-header-title">
        <h5 class="m-b-10">Machine learning</h5>
    </div>
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'atlas:index' %}">Главная</a></li>
        <li class="breadcrumb-item"><a href="{% url 'atlas:company' sensor.id_object.id_company.id %}">{{ sensor.id_object.id_company }}</a></li>
        <li class="breadcrumb-item"><a href="{% url 'atlas:object' sensor.id_object.id %}">{{ sensor.id_object }}</a></li>
        <li class="breadcrumb-item"><a href="{% url 'atlas:sensor' sensor.id_object.id sensor.id %}">{{ sensor.name }}</a></li>
        <li class="breadcrumb-item">Настройки</li>
    </ul>
{% endblock %}
{% block form_label %}Настройки{% endblock %}
{% block near_form %}
    <div class="card">
        <div class="card-body">
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label for="exampleCheck1">Разрешить работу аналитики</label>
            </div>
            <button type="button" class="btn btn-primary">Переобучить систему</button>
            <br>
            <br>
            <button type="button" class="btn btn-primary" onclick="resetAnalytic()">Сброс наработки аналитики</button>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script src="{% static 'main/main.js' %}"></script>
    <script>
    function resetAnalytic() {
        jQuery.get(
            window.location.origin + "/api/settings/reset-analytic",
            {'sensor': {{ sensor.id }} },
            function () { alert( "success" ); }
        );
    }
    </script>
{% endblock %}
